#capture {
	position: absolute;
	z-index: 4;
	bottom: 10%;
	background-color: #46639383;
}
#stop {
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 2;
}
#cambtn {
	border-radius: 0.25rem;
	padding: 10px 15px;
	border: 2px solid var(--slate-600);
}
.video-wrapper {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	z-index: 6;
	transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition-property: transform, backdrop-filter;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
.video-wrapper.viewing {
	transform: translateY(0%);
	opacity: 1;
	visibility: visible;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
}

#video-ctrl {
	z-index: 1;
	width: 1920px;
	aspect-ratio: 1/1;
}
#video-ctrl video {
	width: 100%;
	height: 100%;
}

#canvas-ctrl {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: auto;
	height: auto;
	z-index: 3;
	transform: translate(10%, 10%) scale(1);
	border-radius: 3rem;
	opacity: 0;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
#canvas-ctrl.captured {
	opacity: 1;
	transform: translate(33%, 35%) scale(0.35);
}
#submit-style {
	background-color: red;
	height: 150px;
	width: 150px;
}
.vegetables {
	list-style-type: none;
	color: var(--slate-400);
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.vegetables li {
	font-size: 1.3rem;
	background-color: #ffffff0d;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	text-transform: capitalize;
}
.recipes {
	width: 100%;
	height: fit-content;
	padding: 1rem 1.5rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 250px));
	justify-content: center;
	grid-auto-columns: 270px;
	gap: 10px;
	list-style-type: none;
}
.recipes a {
	position: relative;
	border-radius: 0.7rem;
	width: 100%;
	padding: 1rem;
	height: fit-content;
	border: 2px dashed var(--slate-600);
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}
.recipes p {
	font-size: 0.8rem;
	color: var(--slate-600);
	transition: color 0.5s 0.5s ease-in-out;
}
.recipes a:hover P {
	color: var(--slate-400);
}
.recipes a:hover {
	border-color: var(--slate-400);
}
.recipes a h2.title {
	font-size: 1.5rem;
	color: var(--slate-600);
	transition: color 0.5s ease-in-out;
}
.recipes a:hover h2.title {
	color: var(--slate-400);
}
.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.tag {
	width: fit-content;
	padding: 0.7rem 1.2rem;
	border-radius: 0.5rem;
	border: 2px dashed var(--slate-700);
	color: var(--slate-400);
}
.tag.active {
	border-color: var(--slate-500);
}
.drawer {
	position: fixed;
	top: 0px;
	height: 100vh;
	right: 0px;
	width: 75%;
	background-color: #090b0f;
	z-index: 5;
	border: 2px solid #0f172a;
	overflow-y: auto;
	transform: translateX(100%);
	transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#drawer-open,
#drawer-close {
	width: 45px;
	height: 45px;
	color: white;
}
#drawer-open {
	position: fixed;
	top: 1.3rem;
	right: 1rem;
	z-index: 3;
}
#drawer-close {
	position: absolute;
	top: 1.3rem;
	left: 1rem;
	z-index: 3;
}
#drawer-open i,
#drawer-close i {
	font-size: 2rem;
}
.drawer.open {
	transform: translateX(0%);
}
.rec-info {
	font-size: 1.2rem;
	margin-top: 0.7rem;
}
.process {
	position: relative;
	font-size: 1.2rem;
	padding: 1rem 1.2rem;
	border: 2px dashed var(--slate-600);
	margin-block: 2rem;
	border-radius: 0.75rem;
	transition: opacity 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.process:hover {
	border-color: rgb(44, 56, 216);
}
.process input[type="checkbox"] {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 25px;
	height: 25px;
}
.process.complete {
	opacity: 0.25 !important;
}
#recipe-procedure-details {
	width: 100%;
	padding: 1rem 1.2rem;
	border: 2px dashed var(--slate-600);
	border-radius: 1rem;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
#recipe-procedure-details.show {
	opacity: 1;
}
#recipe-procedure-details h1 {
	font-weight: 400;
}
#recipe-procedure-details p {
	font-weight: 300;
	margin-bottom: 0px;
}
#recipe-procedure-details ol {
	list-style: none;

	padding-left: 0px;
	counter-reset: recpSteps;
}
#recipe-procedure-details ol li {
	counter-increment: recpSteps;
}
#recipe-procedure-details ol li::before {
	position: absolute;
	left: 1.2rem;
	top: 0.75rem;
	content: "Step " counter(recpSteps) ".";
	font-size: 1.2rem;
}
#views {
	position: relative;
	display: flex;
	width: fit-content;
	border-radius: 9999px;
	margin-left: auto;
	font-size: 1.25rem;
	border: 2px solid var(--slate-600);
	transition-property: color, border-color, background-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
}
#views:hover {
	color: whitesmoke;
	background-color: rgba(44, 56, 216, 0.25);
	border-color: rgb(44, 56, 216);
}
#recp-name {
	text-transform: capitalize;
}

#ico {
	padding: 0.25rem 1rem;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

#number {
	padding: 0.25rem 1rem;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
}
.process-text {
	margin-top: 40px;
}

@media screen and (min-width: 300px) and (max-width: 470px) {
	#canvas-ctrl.captured {
		transform: translate(33%, 35%) scale(0.35);
	}
	.recipes .tags {
		max-width: 100%;
	}
	.drawer {
		width: 100%;
	}
	.rec-info {
		font-size: 1rem;
		margin-top: 0.7rem;
	}
	.process-text {
		font-size: 1rem;
	}
}
