/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap"); */

.form-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
form {
	position: relative;
	width: 50%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1.75rem;
	transition: all 0.5s ease-in-out;
}

form input {
	width: 100%;
}
form button[type="submit"] {
	margin-top: 2.5rem;
}

@media screen and (min-width: 320px) and (max-width: 470px) {
	form {
		width: 100%;
	}
}
@media screen and (min-width: 471px) and (max-width: 770px) {
	form {
		width: 75%;
	}
}
