<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/nav.css">
    <link rel="stylesheet" href="static/about.css">
</head>

<body>
    <!-------------------------------------Navigation Bar------------------------------------>
    <div class="topnav" id="myTopnav">
        <i><a href=".">VIBRRS</a></i>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i></a>
        <a href="." class="active">Home</a>
        <a href="contactus">Contact</a>
        <a href="main">Back</a>
    </div>
    <h1 class="heading">About Us</h1>
    <div class="contact-us">
    <hr>
        <h3>We are here for</h3>
        <h5>Customers First</h5>
        <p>Every decision we make is centered around our customer’s needs and convenience.</p>
        <h5>Simple is Beautiful</h5>
        <p>Be it our website, or services - we strive to keep making things simpler.</p>
        <h5>Honesty & Integrity</h5>
        <p>We want our customers to be completely aware of everything to do with their investments. Whatever we do is always crystal clear.</p>
        <br><hr>
    </div>
    <div class="bottom">
        <center>
        <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
        <a href=""><i class="fa fa-instagram fa-2x"></i></a>
        <a href=""><i class="fa fa-twitter fa-2x"></i></a>
        <a href=""><i class="fa fa-github fa-2x"></i></a>
        <hr>
        </center>
    </div>
    <script src="static/index.js"></script>
</body>

</html>