{% extends 'base.html' %} {% block styles %} {% load static %}
<link rel="stylesheet" href="{% static '/main.css'%}" />
{% endblock styles %} {% block views %}
<h1 class="title">Home</h1>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam repellendus
	expedita molestiae veniam, non voluptate quisquam minus aspernatur. Distinctio
	nemo sit id, similique fugit perspiciatis aperiam, dolores beatae nulla eum
	repudiandae aliquam deserunt facere consequatur necessitatibus expedita ad
	iusto architecto voluptates non! Vel omnis aspernatur ratione labore?
	Repudiandae, blanditiis! Distinctio reprehenderit eum hic nihil cumque ad
	nobis repudiandae culpa voluptatem nesciunt autem illum tempore, magni illo
	quo beatae laboriosam facilis dolorem sint velit corporis? Quam atque, commodi
	eligendi quisquam inventore veniam veritatis error neque doloremque ratione
	odio odit ullam, illo esse quod quaerat placeat porro laborum dolore illum!
	Sapiente dolorum aspernatur nisi autem provident asperiores eius obcaecati
	aliquid quod distinctio natus perspiciatis aut, aliquam nemo, ipsa iusto
	expedita exercitationem, veniam numquam velit ipsam tempore. A quod amet ea
	corporis porro nemo placeat nam ab, dolore minima, cumque corrupti? Accusamus
	ullam repellendus obcaecati laudantium aliquam incidunt alias error, quo
	dolorem, quas ipsa impedit recusandae, quidem accusantium modi suscipit a
	rerum asperiores laboriosam quam repellat aspernatur. Debitis assumenda odit
	aspernatur ea autem, quos fugiat unde incidunt cum molestias eum porro
	nesciunt dolorem quisquam itaque numquam esse maxime laudantium quo sequi vel?
	Qui natus voluptates inventore sit esse, porro maxime voluptate est saepe
	aperiam tempora ratione, aut perferendis quasi amet ipsum incidunt dicta
	exercitationem. Soluta, nisi eveniet veniam fugit delectus laborum voluptas
	assumenda quasi est quam. Distinctio reprehenderit deleniti qui aperiam totam
	saepe et rem adipisci veniam molestiae, quisquam tenetur ullam quam! Nisi
	corporis unde eveniet architecto beatae distinctio ut libero ducimus
	repudiandae, sequi totam. Ipsa ipsum quaerat perspiciatis voluptatibus quod
	tempore perferendis, ab alias hic inventore eos blanditiis sequi officiis rem
	cumque et laudantium expedita. Facere sunt ipsa tempore, quas fugit veritatis
	ullam ex perspiciatis vel iste iusto quis dolores voluptates, nobis, quidem
	minima nulla aperiam numquam doloribus ab. Fugit molestiae nihil ad aliquid,
	voluptates non perspiciatis! Consectetur, beatae dolorum temporibus sint
	aspernatur perspiciatis incidunt libero porro cupiditate rerum molestias nihil
	odio, unde sequi sapiente doloribus? Porro at, pariatur excepturi officia
	debitis nihil voluptas ipsum sunt quod, reiciendis ratione corporis quo
	numquam ex laborum aliquam, unde animi rerum distinctio error. Natus
	accusantium nostrum voluptatum alias exercitationem et dicta tempora fuga
	laborum doloribus provident eum minima, ducimus commodi. Accusamus, nostrum.
	Tempora nesciunt quidem modi! Corporis similique quod reprehenderit molestias
	iusto quia totam facere a earum fugiat? Laborum rerum provident sit rem
	maiores ut. Necessitatibus reiciendis cupiditate nemo alias optio odio
	voluptas facilis ullam inventore! Fugit, non perferendis molestias alias, quo
	cupiditate delectus harum fuga voluptas velit voluptatibus. Totam natus
	repellat inventore veniam impedit suscipit saepe molestiae voluptates culpa
	asperiores recusandae officia facilis alias, quas eum minus necessitatibus id
	dicta cupiditate eos laborum praesentium optio error. Odio modi aperiam id
	inventore distinctio. Aperiam, harum!
</p>
{% endblock views %}
