<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/nav.css">
</head>

<body>
    <!-------------------------------------Navigation Bar------------------------------------>
    <div class="topnav" id="myTopnav">
        <i><a href="#">VIBRRS</a></i>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i></a>
        <a href="#home" class="active">Home</a>
        <a href="/login">Login</a>
        <a href="contactus">Contact</a>
        <a href="about">About</a>
    </div>
    <!----------------------------------  TEXT ------------------------------------------->
    
    <script src="static/index.js"></script>
</body>

</html>