{% extends 'base.html' %} {% block styles %} {% load static %}
<link rel="stylesheet" href="{% static '/form.css' %}" /> {% endblock styles %}
{% block views %}
<div class="form-container">
	{% block content %}
	<form action="" id="signup" method="post">
		<h1 class="title">Signup</h1>
		{% csrf_token %} {% for fm in form %} {{fm}} {% endfor %}
		<button type="submit">Submit</button>
		<div class="divider"></div>
		<a href="/login" class="link">Login</a>
		{% endblock %}
	</form>
</div>
{% endblock views %}
