<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static '/styles/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static '/assets/jetb/stylesheet.css' %}" />
		<link rel="stylesheet" href="{% static '/assets/bsicons.css' %}" />
		<link rel="stylesheet" href="{% static '/styles/globals.css' %}" />

		<script src="{% static '/bootstrap.bundle.min.js' %}"></script>

		<script src="{% static '/jquery.min.js' %}"></script>
		<script src="{% static '/gsap.min.js' %}"></script>
		<script src="{% static '/index.js'%}"></script>
		{% block styles %}{% endblock styles %}
		<title>{{title}}</title>
	</head>

	<body>
		<div id="root">
			<button class="iconbtn" id="open">
				<i class="bi bi-list"></i>
			</button>
			<nav class="">
				<button class="iconbtn" id="close">
					<i class="bi bi-chevron-left"></i>
				</button>
				<a href="/" class="brand">VBIRRS</a>
				<ul class="link-items">
					<a href="/" class="nav-link current">
						<i class="bi bi-house"></i> Home</a
					>
					<a href="/login" class="nav-link"
						><i class="bi bi-box-arrow-in-left"></i> Login</a
					>
					<a href="/about" class="nav-link"
						><i class="bi bi-info-circle"></i> About</a
					>
					<a href="/contact" class="nav-link"
						><i class="bi bi-chat-square"></i> Contact</a
					>
					<a href="/main" class="nav-link"
						><i class="bi bi-collection"></i> Main</a
					>
				</ul>
				<div class="profile dropup">
					{% if user.is_authenticated %}
					<button
						id="profile"
						type="button"
						class="dropdown-toggle"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						{{user.username}}
					</button>
					<ul class="dropdown-menu dropdown-menu-dark">
						<a href="/logout" class="dropdown-item">
							<i class="bi bi-box-arrow-right"></i> Logout</a
						>
					</ul>
					{% endif %}
				</div>
			</nav>

			<div class="css-container">{% block views %} {% endblock views %}</div>
			<div class="custom-alert" id="alert">This is an alert</div>
		</div>
	</body>
</html>
