{% extends 'base.html' %} {% block views %} {% block styles %} {% load static %}
<link rel="stylesheet" href="{% static '/form.css' %}" />
{% endblock styles %}
<div class="form-container">
	{% block content %}
	<p class="text-success">{% if messages %}{% for msg in messages %}{{msg}}{% endfor %}{% endif %}</p>
	<h1 class="title">Contact Us</h1>
	<form method="POST" method="post">
		{% csrf_token %} {% for fm in form %}{{ fm }}{% endfor %}
		<button type="submit">Send</button>
		{% endblock %}
	</form>
</div>
{% endblock %}
