{% extends 'base.html' %} {% block styles %} {% load static %}
<link rel="stylesheet" href="{% static '/main.css'%}" />
<link rel="stylesheet" href="{% static '/loader.css' %}" />
{% endblock styles %} {% block views %}
<h1 class="title">Recipes</h1>
{% if user.is_authenticated %}
<button id="drawer-open">
	<i class="bi bi-caret-left"></i>
</button>
<h1 id="recp-name">Lorem</h1>
<div class="drawer px-4 py-3">
	<button id="drawer-close">
		<i class="bi bi-x-lg"></i>
	</button>
	<form
		method="POST"
		name="inputForm"
		style="margin-top: 5rem"
		enctype="multipart/form-data"
	>
		{% csrf_token %}
		<button id="cambtn" type="button">Open Cam</button>

		<button type="submit" class="button" id="submit">Submit</button>
		<input id="webimg" value="" name="src" type="text" style="display: none" />
		<div class="divider"></div>
		<input
			type="file"
			class="my-5"
			id="uploadfile"
			name="uploadfile"
			accept="image/*"
		/>
	</form>
	<h1 id="title"></h1>
	<ul id="resp" class="vegetables mt-4"></ul>
	<div class="tags m-4"></div>
	<ul class="recipes" id="recipes"></ul>
</div>
<div class="video-wrapper">
	<button type="button" class="iconbtn" style="color: white" id="capture">
		<i class="bi bi-camera"></i>
	</button>
	<button type="button" class="iconbtn" id="stop">
		<i class="bi bi-x-lg"></i>
	</button>
	<div id="video-ctrl">
		<video></video>
	</div>
	<div id="canvas-ctrl"><canvas></canvas></div>
</div>

<div class="wrapper">
	<div class="press">
		<div class="holder"></div>
		<div class="lid"></div>
		<div class="carafe">
			<div class="drop"></div>
			<div class="spout"></div>
			<div class="contents">
				<div class="grounds"></div>
				<div class="water"></div>
			</div>
		</div>
		<div class="plunger">
			<div class="shaft">
				<div class="knob"></div>
			</div>
			<div class="filter"></div>
		</div>
	</div>
</div>

{% endif %} {% endblock views %}
