{% extends 'base.html' %} {% block styles %} {% load static %}
<link rel="stylesheet" href="{% static '/main.css'%}" />
<link rel="stylesheet" href="{% static '/loader.css' %}" />
{% endblock styles %} {% block views %}
<h1 class="title">Recipes</h1>
{% if user.is_authenticated %}
<button id="drawer-open">
	<i class="bi bi-caret-left"></i>
</button>
<div id="recipe-procedure-details">
	<h1 id="recp-name">Aloo Matar</h1>
	<p class="rec-info">
		&emsp;&emsp;Aloo Matar (also spelled Aloo Mutter) is one of the most
		comforting and beloved Punjabi curries around. I learned how to make this
		spiced, delicious tomato-based potato and green peas curry from my
		mother-in-law, and it is now a favorite recipe in our house. Serve Aloo
		Mutter with Indian breads like Poori, Roti or Paratha for a meal that feels
		like a hug!
	</p>
	<h1 class="my-5">More on Aloo Matar</h1>
	<p class="rec-info">
		Aloo (meaning "potatoes") and matar (also spelled mattar or mutter, meaning
		"peas") join forces in this delightfully saucy curry. It is also known as
		aloo matar ki sabji in Hindi. When I'm in need of comfort food, this is the
		recipe I turn to. <br /><br />
		<i
			>Note: Aloo matar can be made either in a gravy base or made dry like
			roasted veggies. If you are a fan of the dry version of peas and potatoes,
			then do check my savory and spiced Dry Aloo Matar Sabzi which tastes
			equally good.</i
		>
	</p>
	<h1 class="my-5">How to make Aloo Matar</h1>
	<ol>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />
			<h3 class="my-3">Blend Curry Ingredients</h3>
			<p class="process-text">
				Take ½ cup chopped onions, 1 cup chopped tomatoes, 1 teaspoon chopped
				ginger (chopped) and 1 teaspoon chopped garlic in a grinder or blender
				jar.
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />
			<p class="process-text">
				Without adding any water, grind or blend to a smooth paste.
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />
			<h3 class="my-3">Cook Curry Masala Paste</h3>
			<p class="process-text">
				Heat 2 tablespoons of oil in a thick-bottomed pot or pressure cooker.
				Add ½ teaspoon cumin seeds and cook until they crackle. <br />
				You can use any neutral flavored oil. For a richer taste you can also
				use ghee (clarified butter).
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">
				Now add the ground onion-tomato paste to the oil in the pan. Keep the
				heat to a low and also take care as the mixture splutters.
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">
				Stir well and then add 1 tablespoon malai (the thick layer of cream
				floating on top of boiled cooled whole milk).
			</p>
			<br />
			<i
				>If you don't have malai, you can add 1 tablespoon of almond powder
				(almond meal) or 1 tablespoon of cashew powder or 1 tablespoon heavy
				cream. Or you can completely omit the cream.</i
			>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">
				<i
					>Tip: The curry masala mixture splutters, so cover the pot or cooker
					partly with a lid.</i
				>
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">
				Once the mixture stops spluttering, then remove the lid and sauté.
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">
				Stir often so that the curry masala does not get browned or gets stuck
				to the base of the pot.
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">
				Sauté the ground paste till the oil releases from the sides and the
				masala paste thickens. You will see that the paste becomes glossy and
				comes together in a kind of lump.
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">
				Then add a generous pinch of asafoetida (hing), ½ teaspoon red chili
				powder and ¼ teaspoon turmeric powder. Stir and mix the spice powders
				with the rest of the sautéed masala paste.
				<i
					>Note: If you are gluten-free, please check the label of your
					asafoetida. Many commercially available brands are processed with
					wheat products. If necessary, omit the asafoetida from the recipe.</i
				>
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<h3 class="my-3">Make Aloo Matar</h3>

			<p class="process-text">
				Add 1 cup green peas and 2 large potatoes (peeled and diced) to the
				curry masala paste.
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">Stir and sauté for a minute.</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">
				<i><b>If cooking in a pot</b></i
				>, add 1.5 cups of water. <br />
				<br />
				<i><b>If using a stovetop pressure cooker</b></i> then add 1 cup water
				and pressure cook for 7 to 8 minutes on medium-heat until the potatoes
				and peas are cooked completely.<br />
				<br />
				<i><b>If using an Instant Pot</b></i>
				first fry the spices and sauté the onion-tomato paste. Then pressure
				cook for 5 minutes on high after you add the peas, potatoes, salt and
				water.
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">Season with salt as required.</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">Stir well and cover the pot with the lid.</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">
				Simmer till the potatoes and peas are cooked tender. If necessary, you
				can add some more water. <br /><br />
				If you are cooking in a pot on the stovetop, it will take about 20 to 30
				minutes on a low to medium heat. The time will vary with the intensity
				of the heat and thickness and quality of the pot.
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">
				Lastly sprinkle in ½ teaspoon garam masala powder. Stir again.
				<br />Then add 2 tablespoons chopped coriander leaves (cilantro).
			</p>
		</li>
		<li class="process">
			<input class="form-check-input bg-dark" type="checkbox" value="" />

			<p class="process-text">
				Stir well and serve Aloo Matar hot from the pan, preferably with Indian
				breads like poori, roti, paratha, naan or serve with steamed rice or
				cumin rice.
			</p>
		</li>
	</ol>
</div>

<div class="drawer px-4 py-3">
	<button id="drawer-close">
		<i class="bi bi-x-lg"></i>
	</button>
	<form
		method="POST"
		name="inputForm"
		style="margin-top: 5rem"
		enctype="multipart/form-data"
	>
		{% csrf_token %}
		<button id="cambtn" type="button">Open Cam</button>

		<button type="submit" class="button" id="submit">Submit</button>
		<input id="webimg" value="" name="src" type="text" style="display: none" />
		<div class="divider"></div>
		<input
			type="file"
			class="my-5"
			id="uploadfile"
			name="uploadfile"
			accept="image/*"
		/>
	</form>
	<h1 id="title"></h1>
	<ul id="resp" class="vegetables mt-4"></ul>
	<div class="tags m-4"></div>
	<ul class="recipes" id="recipes"></ul>
</div>
<div class="video-wrapper">
	<button type="button" class="iconbtn" style="color: white" id="capture">
		<i class="bi bi-camera"></i>
	</button>
	<button type="button" class="iconbtn" id="stop">
		<i class="bi bi-x-lg"></i>
	</button>
	<div id="video-ctrl">
		<video></video>
	</div>
	<div id="canvas-ctrl"><canvas></canvas></div>
</div>

<div class="wrapper">
	<div class="press">
		<div class="holder"></div>
		<div class="lid"></div>
		<div class="carafe">
			<div class="drop"></div>
			<div class="spout"></div>
			<div class="contents">
				<div class="grounds"></div>
				<div class="water"></div>
			</div>
		</div>
		<div class="plunger">
			<div class="shaft">
				<div class="knob"></div>
			</div>
			<div class="filter"></div>
		</div>
	</div>
</div>

{% endif %} {% endblock views %}
