{% extends 'base.html' %} {% block styles %} {% load static %}
<link rel="stylesheet" href="{% static '/main.css'%}" />
<!-- <link rel="stylesheet" href="{% static 'styles/cam.css'%}" /> -->
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="module" src="{% static 'index.js' %}"></script>
{% endblock styles %} {% block views %}
<h1 class="title">Home</h1>
<!- Don't render the image options until user has logged in ->
{% if user.is_authenticated %}


<form method="POST" name="inputForm" enctype='multipart/form-data'>
	{% csrf_token %}
	<input id="cambtn" type = "button" value="Open Cam"></input>
<input type = "button" value="Capture" id="capture"></input>
<input type = "button" value="Stop Cam" id="stop"></input>
<button type="submit" class="button" id="submit">Submit</button>
<div id="video-ctrl">
	<video></video>
</div>
<input id="webimg" value="" name="src" type="text" style="display: none;">
<div id="canvas-ctrl"><canvas></canvas></div>
</form>

<div class="loader"></div>

<div id= "list-ele"></div>

{% endif %} {% endblock views %}
