{% extends 'base.html' %} {% load static %} {% block views %}
<h1 class="title">Recipes Page</h1>
<h1>{{tag}}</h1>
<h1>Aloo Matar</h1>
<p>
	Aloo Matar (also spelled Aloo Mutter) is one of the most comforting and
	beloved Punjabi curries around. I learned how to make this spiced, delicious
	tomato-based potato and green peas curry from my mother-in-law, and it is now
	a favorite recipe in our house. Serve Aloo Mutter with Indian breads like
	Poori, Roti or Paratha for a meal that feels like a hug!
</p>
{% endblock views %}
